*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

header .brand img{
    background: rgba(225, 0, 255, 0.782);
    width: 60px;

}
header .navigation{
    position: relative;
}
header .navigation .navigation-items a{
    position: relative;
    color: #ffff;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;

}
header .navigation .navigation-items a:before{
  content: '';
  position: absolute;
  background: #ffff;
  width: 0%;
  height: 3px;
  bottom: 0;
  left: 0;

}
header .navigation .navigation-items a:hover:before{

    width: 100%;
}
section{
    padding: 100px 200px;
}
.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
   /* background-image: linear-gradient(rgb(116, 60, 219),rgb(129, 8, 204),rgb(215, 24, 240));*/
    animation: slide 15s  ease-in infinite;


}
.home .content{
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;

}
.home .content h1{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;

}
.home .content h1 span{
    font-size: 1em;
    font-weight: 200;
    text-transform: uppercase;
    color: rgb(47, 224, 47);

}
.home .content p{
    margin-bottom: 65px;

}
.home .content a{
    background: #fff;
    padding: 15px 35px ;
    color: rgb(46, 38, 38);
    font-size: 400;
    text-decoration: none;
    border-radius: 27px;

}

.services .container .box img{
    width: 20%;
    padding-top: 1px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .containerb {
    max-width: 960px;
    margin: 0 auto;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
.holder{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    grid-gap: 15px;
}
.dabba img{
    width: 450px;
    height: 200px;
    border: 5px solid #f4f0f0;
}
.dabba{
    text-align: center;
}
.ungly{
    border: 5px solid rgb(77, 136, 240);
    border-radius: 8px;
    color: #fff;
    text-transform: uppercase;
    background-color:  rgb(77, 136, 240);
    cursor: pointer;
    text-align: center;
    width: 100px;
    height: 50px;
}
.buttonspan{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.ungly:hover{
    zoom: 150%;
}


.container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    grid-gap: 3px;

}

.box{
    border: 2px solid white;
    color: #222;
    text-align: center;
    background-color: aqua;
}
.services .container .box h3{
    font-variant: small-caps;
    padding-top: 5px;
    padding-bottom: 5px;
}
.services{
    background-image: linear-gradient(rgb(116, 60, 219),rgb(129, 8, 204),rgb(215, 24, 240));
}
.box:hover{
    box-shadow: 0 0 10px white, 0 0 20px  rgb(204, 185, 185) , 0 0 40px rgb(149, 220, 238);
    background-image: linear-gradient(rgb(116, 60, 219),rgb(129, 8, 204),rgb(215, 24, 240));
}
@keyframes slide {
    0%{
       background-image: linear-gradient(rgb(116, 60, 219),rgb(129, 8, 204),rgb(215, 24, 240));
        /*background-color: #222;*/
    }
    50%{
        background-image: linear-gradient(rgb(60, 150, 219),rgb(8, 204, 96),rgb(82, 240, 24));
       /* background-color: aquamarine;*/
    }
    75%{
        background-image: linear-gradient(rgb(134, 219, 60),rgb(171, 204, 8),rgb(240, 154, 24));
       /* background-color: aliceblue;*/
    }
    100%{
        background-image: linear-gradient(rgb(116, 60, 219),rgb(129, 8, 204),rgb(215, 24, 240));
    }
}
::-webkit-scrollbar{
    widows: 1px;
    height: 5px;
}
::-webkit-scrollbar-track{
    background-color: #f4f0f0;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(237, 105, 171);
    border: 3px solid rgb(237, 105, 171);
    border-radius: 20px;
}



    


@media (max-width:1040px){
    header{
        padding: 12px 20px;
    }
    section{
        padding: 100px 20px;
    }
    header .navigation{
      display: none;
    }
    header .navigation.active{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1,1,1,0.5);
  
      }
    header .navigation .navigation-items a{
        color: #222;
        font-size: 1.2em;
        margin: 20px;
    }
    header .navigation.active .navigation-items{
        background: #fff;
        width: 500px;
        max-width: 500px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        box-shadow: 0 0 10px rgb(246, 244, 244), 0 0 20px rgb(234, 210, 210), 0 0 40px rgb(149, 187, 238);

    }
    header .navigation .navigation-items{
          animation: animate 10s ease-in  infinite;
    }

    .menu-btn{
        background: url("https://tse3.mm.bing.net/th?id=OIP.a15dnnUfd1Fn-wDt_uTgXQHaFj&pid=Api&P=0");
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.4s ease;



    }
    .menu-btn.active{
        z-index: 999;
        background: url(menubtn.jpg)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;

    }
    @keyframes animate{
        0%,25%,30%{
            background: #fff;
        }
        40%,50%{
            background-image: linear-gradient(rgb(116, 60, 219),rgb(129, 8, 204),rgb(215, 24, 240));
        }
        80%,90%,100%{
            background: #fff;
        }
    }
    @keyframes slide {
        0%{
           /* background-image: linear-gradient(rgb(116, 60, 219),rgb(129, 8, 204),rgb(215, 24, 240));*/
            background-color: #222;
        }
        50%{
          /*  background-image: linear-gradient(rgb(92, 60, 219),rgb(93, 8, 204),rgb(182, 24, 240));*/
            background-color: aquamarine;
        }
        100%{
          /*  background-image: linear-gradient(rgb(116, 60, 219),rgb(129, 8, 204),rgb(215, 24, 240));*/
            background-color: aliceblue;
        }
    }
    
}



